nav {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
.navbar-nav > li {
  margin-left: 60px;
  margin-right: 40px;
}
.btn-primary {
  color: #fff;
  background-color: #7e56da !important;
  border-color: #7e56da !important;
}
.btn-block {
  display: block;
  width: 100%;
}

.reset {
  color: black;
}

span {
  color: #8a75b3;
  font-weight: 600;
}
a {
  text-decoration: none;
  transition: 0.2s;
}
.forgot {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #8a76b2;
}
a:hover {
  color: #8b71be;
  font-weight: 600;
  transform: scaleY(1.05);
}

.imageArea {
  background-color: #7e56da;
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
}
