nav {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
.navbar-nav > li {
  margin-left: 60px;
  margin-right: 40px;
}
.btn-primary {
  color: #fff;
  background-color: #7e56da !important;
  border-color: #7e56da !important;
}
.btn-block {
  display: block;
  width: 100%;
}

.reset {
  color: black;
}

span {
  color: #8a75b3;
  font-weight: 600;
}
a {
  text-decoration: none;
  transition: 0.2s;
}
.forgot {
  display: block;
  text-decoration: none;
  text-align: right;
  color: #8a76b2;
}
a:hover {
  color: #8b71be;
  font-weight: 600;
  transform: scaleY(1.05);
}

.imageArea {
  background-color: #7e56da;
  width: 100%;
  height: 100%;
}

#root {
  height: 100vh;
}

.container20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  margin: 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs20 {
  display: flex;
}
.tabs {
padding: 15px;
text-align: center;
width: 50%;
background: rgba(128, 128, 128, 0.075);
cursor: pointer;
border-bottom: 1px solid rgba(0, 0, 0, 0.274);
box-sizing: content-box;
position: relative;
outline: none;
}
.tabs:not(:last-child){
border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
background: white;
border-bottom: 1px solid transparent;
}

.active-tabs::before {
content: "";
display: block;
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
width: calc(100% + 2px);
height: 5px;
background: rgb(88, 147, 241);
}

button {
border: none;
}

.content-tabs {
flex-grow : 1;
}
.content {
background: white;
padding: 0px;
width: 100%;
height: 100%;
display: none;
}
.active-content {
display: block;
}